@model OnlineUrunSatisWeb.Models.OrderDetailsVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Sipariş Detayı</h4>
<hr />
<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    @if (User.IsInRole(Other.Role_Admin))
                    {
                        <dt class="col-sm-4">
                            Ad
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Name
                        </dd>
                        <dt class="col-sm-4">
                            Soyad
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Surname
                        </dd>
                        <dt class="col-sm-4">
                            Telefon
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Phone
                        </dd>
                    }
                    <dt class="col-sm-4">
                        İl
                    </dt>
                    <dd class="col-sm-8">
                        @Model.OrderHeader.City
                    </dd>
                    <dt class="col-sm-4">
                        İlçe
                    </dt>
                    <dd class="col-sm-8">
                        @Model.OrderHeader.District
                    </dd>
                    <dt class="col-sm-4">
                        Adres
                    </dt>
                    <dd class="col-sm-8">
                        @Model.OrderHeader.Address
                    </dd>
                    <dt class="col-sm-4">
                        Posta Kodu
                    </dt>
                    <dd class="col-sm-8">
                        @Model.OrderHeader.PostCode
                    </dd>
                    <dt class="col-sm-4">
                        Sipariş Tarihi
                    </dt>
                    <dd class="col-sm-8">
                        @Model.OrderHeader.OrderDate
                    </dd>
                    <dt class="col-sm-4">
                        Sipariş Durumu
                    </dt>
                    @if (@Model.OrderHeader.OrderStatus.ToString() == "OnHold")
                    {
                        <dd class="col-sm-8">
                            Beklemede
                        </dd>
                    }
                    else if (@Model.OrderHeader.OrderStatus.ToString() == "Confirmed")
                    {
                        <dd class="col-sm-8">
                            Onaylandı
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-8">
                            Kargolandı
                        </dd>
                    }
                </dl>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="mb-3 row h5">
                        Sepet İçeriği
                    </div>
                    <ul class="list-group mb-3">
                        @foreach (var item in Model.OrderDetails)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">@item.Product.Brand @item.Product.Model @item.Product.Year</h6>
                                    <small class="text-muted">@item.Count Adet</small>
                                </div>
                                <span class="text-muted">₺ @((item.Count*item.Product.Sale).ToString("0.00"))</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div class="text-success">
                                <h6 class="my-0">Toplam Tutar</h6>
                            </div>
                            <span class="text-success" style="font-weight: bold;">₺ @(Model.OrderHeader.OrderTotal.ToString("0.00"))</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            @if (User.IsInRole(Other.Role_Admin))
            {
                @if (Model.OrderHeader.OrderStatus == Other.Status_Confirmed)
                {
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Kargoya Ver"
                               class="btn btn-primary form-control"
                               formaction="/Admin/Order/ShipOrder"
                               formmethod="post" />
                    </div>
                    <div class="col-md-4">

                    </div>
                }
                @if (Model.OrderHeader.OrderStatus == Other.Status_OnHold)
                {
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Onayla"
                               class="btn btn-primary form-control"
                               formaction="/Admin/Order/ConfirmOrder"
                               formmethod="post" />
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Onayla & Kargoya Ver"
                               class="btn btn-primary form-control"
                               formaction="/Admin/Order/ShipOrder"
                               formmethod="post" />
                    </div>
                    <div class="col-md-2">

                    </div>
                }
            }
        </div>
    </div>
</form>

