@model OnlineUrunSatisWeb.Models.ShoppingCart
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contaier">
<br/>
    <div class="row">
        <form method="post">
            <input hidden asp-for="ProductId" />
            <div class="card mb-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@Model.Product.Image" class="img-fluid rounded-start" alt="...">
                        <div class="card-body" @*style="border-style:solid; border-color:#0093d9"*@>
                            <dl class="row">
                                <dt class="col-sm-6">
                                    Stok Adedi
                                </dt>
                                <dd class="col-sm-6">
                                    @if (Model.Product.IsStock)
                                    {
                                    <label style="width:100%">@*<i class="bi bi-check-lg"></i>*@@Model.Product.Number</label>
                                    }
                                    else
                                    {
                                        <label style="width:100%"><i class="bi bi-x-lg"></i> Tükendi</label>
                                    }
                                </dd>
                                <dt class="col-sm-6">
                                    Fiyat
                                </dt>
                                <dd class="col-sm-6">
                                    ₺ @Model.Product.Sale.ToString("0.00")
                                </dd>
                                <dt class="col-sm-6">
                                    Sipariş Adedi
                                </dt>
                                <dd class="col-sm-6">
                                    <input asp-for="Count" class="form-control" max=@Model.Product.Number/>
                                </dd>
                                <dt class="col-sm-6">
                                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary form-control"><i class="bi bi-house-door"></i> Anasayfa</a>
                                </dt>
                                <dd class="col-sm-6">
                                    @if (Model.Product.IsStock)
                                    {
                                        <button type="submit" class=" btn btn-success form-control"><i class="bi bi-cart4"></i> Sepete Ekle</button>
                                    }
                                    else
                                    {
                                        <label class=" btn btn-danger form-control"><i class="bi bi-cart4"></i> Ürün Tükendi</label>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    Marka
                                </dt>
                                <dd class="col-sm-9">
                                    @Model.Product.Brand
                                </dd>
                                <dt class="col-sm-3">
                                    Model
                                </dt>
                                <dd class="col-sm-9">
                                    @Model.Product.Model
                                </dd>
                                <dt class="col-sm-3">
                                    Yıl
                                </dt>
                                <dd class="col-sm-9">
                                    @Model.Product.Year
                                </dd>
                                <dt class="col-sm-3">
                                    Açıklama
                                </dt>
                                <dd class="col-sm-9">
                                    @Model.Product.Description
                                </dd>
                            </dl>
                        </div>
                    </div>

                    @*<div class="col-md-1">

                    </div>
                    <div class="col-md-3">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary form-control"><i class="bi bi-house-door"></i> Anasayfa</a>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-3">
                        @if (Model.Product.IsStock)
                        {
                            <button type="submit" class=" btn btn-success form-control"><i class="bi bi-cart4"></i> Sepete Ekle</button>
                        }
                        else
                        {
                            <label class=" btn btn-danger form-control"><i class="bi bi-cart4"></i> Ürün Tükendi</label>
                        }
                    </div>
                    <div class="col-md-1">

                    </div>*@
                </div>
            </div>
        </form>
    </div>
</div>

