@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Kullanıcılar</h3>
<br />
<div class="container">
    <p>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Kullanıcı Ekle</a>
    </p>
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr>
                <th>
                    Ad
                </th>
                <th>
                    Soyad
                </th>
                <th>
                    E-Posta
                </th>
                <th>
                    Rol
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id.ToString()" class="btn btn-danger"><i class="bi bi-trash"></i> Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}
